<div class="chats">
    <% for (var i = 0; i < reqChats.length; i++) { %>
        <!-- <%= reqChats[i].name %>: <%= reqChats[i].text %> (<%= reqChats[i].date %> at <%= reqChats[i].time %>)
        <a href="/forums/<%= reqChats[i].id %>">View Forum Post</a>
        <br> -->
        <!-- <%= reqChats %> -->
        <div style="width: 50vw; display: flex; padding: 10px; border: 2px solid black; background-color: #eee; margin-bottom: 10px; flex-direction: column;">
            <p><b>Posted By:</b> <%= reqChats[i].name %></p>
            <p><b>Posted On:</b> <%= reqChats[i].date %></p>
            <p><%= reqChats[i].text %></p>
            <a href="/forums/<%= reqChats[i].id %>">Go To Forum Post</a>
        </div>
    <% } %>
</div>
<br>
<form action="/forums/post" method="post">
    <input type="text" name="heading" placeholder="Enter Heading:">
    <input type="text" name="text" placeholder="Enter Query:">
    <button type="submit">Submit</button>
</form>