<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <p>Email: <%= user.email %></p>
    <p>Name: <%= user.name %></p>
    <p>Created On: <%= user.createdOn %></p>
    <% if (user.issued) { %>
        <p>Issued On: <%= user.issuedTime %></p>
        <p>To Be Returned On: <%= user.returnTime %></p>
    <% } %>
    <a href="/profile/edit">Edit Profile</a>
</body>
</html>