<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <%= reqSocial.caption %>
    <%= reqSocial.text %>
    <%= reqSocial.email %>
    <%= reqSocial.dateAndTime %>
    <%= reqSocial.likes %>
    <form method="POST" action="/social/post/<%= reqSocial.id %>/comment">
        <input type="text" name="comment" placeholder="Comment">
        <input type="submit">
    </form>
    <form method="POST" action="/social/likePost/<%= reqSocial.id %>">
        <% if (reqSocial.likedBy.includes(currentUserName)) { %>
        <input type="submit" value="Unlike" name="submit">
        <% } else { %>
        <input type="submit" value="Like" name="submit">
        <% } %>
    </form>
    <% for (let i = 0; i < reqSocial.comments.length; i++) { %>
        <p><%= reqSocial.comments[i].comment %> posted by <%= reqSocial.comments[i].email %> on <%= reqSocial.comments[i].timeStamp %></p>
    <% } %>
</body>
</html>