<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <!-- <%= reqSocial.caption %>
    <%= reqSocial.text %>
    <%= reqSocial.email %>
    <%= reqSocial.dateAndTime %>
    <%= reqSocial.likes %> -->
    <!-- <form method="POST" action="/social/post/<%= reqSocial.id %>/comment">
        <input type="text" name="comment" placeholder="Comment">
        <input type="submit">
    </form>
    <form method="POST" action="/social/likePost/<%= reqSocial.id %>">
        <% if (reqSocial.likedBy.includes(currentUserName)) { %>
        <input type="submit" value="Unlike" name="submit">
        <% } else { %>
        <input type="submit" value="Like" name="submit">
        <% } %>
    </form>
    <% if (isAdmin) { %>
        <form method="POST" action="/social/deletePost/<%= reqSocial.id %>">
        <input type="submit" value="Delete" name="delete">
    </form>
    <% } %>
    <% for (let i = 0; i < reqSocial.comments.length; i++) { %>
        <p><%= reqSocial.comments[i].comment %> posted by <%= reqSocial.comments[i].email %> on <%= reqSocial.comments[i].timeStamp %></p>
        <% } %> -->
        
        <div class="content">
            <div class="post">
            <div class="section">
                <p class="texts">Posted by <b><%= reqSocial.name %></b> on <b><%= reqSocial.dateAndTime %></b></p>
                <p class="texts big"><B><%= reqSocial.caption %></B></p>
                <br>
                <p class="texts" id="demo_p"><%= reqSocial.text %></p>
                <img src="<%= reqSocial.imglink %>" alt="">
            </div>
            <div class="section2">
                <form method="POST" style="display: flex; flex-direction: row; gap: 1vw; align-items: center;" action="/social/likePost/<%= reqSocial.id %>">
                    <% if (reqSocial.likedBy.includes(currentUserName)) { %>
                    <button type="submit" class="button-side"><i class="fa-solid fa-thumbs-up"></i></button>
                    <p class="texts" style="font-size: 3vw;"><%= reqSocial.likes %> </p>
                    <% } else { %>
                        <button type="submit" class="button-side"><i class="fa-regular fa-thumbs-up"></i></button>
                        <p class="texts" style="font-size: 3vw;" ><%= reqSocial.likes %> </p>
                    <% } %>
                </form>
                <% if (isAdmin) { %>
                    <form method="POST" action="/social/deletePost/<%= reqSocial.id %>">
                        <button type="submit" class="button-side"><i class="fa-solid fa-trash"></i></button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="comments-section">

            <form method="POST" action="/social/post/<%= reqSocial.id %>/comment">
                <input type="text" class="comment-input" name="comment" placeholder="Comment" required>
                <input class="button" type="submit">
            </form>
            
            <% for (let i = 0; i < reqSocial.comments.length; i++) { %>
                <div class="comment">
                    <div class="something">
                        <div class="upper-text">
                            <p class="creds"><%= reqSocial.comments[i].name %></p>
                            <p class="creds">|</p>
                            <p class="creds"><%= reqSocial.comments[i].timeStamp %></p>
                        </div>
                        <p class="text-comment"><%= reqSocial.comments[i].comment %></p>
                    </div>
                     <% if (user.name === reqSocial.comments[i].name) { %> 
                        <form style="align-self: flex-end;" action="/social/post/<%= reqSocial.id %>/deleteComment/<%= i %>" method="post">
                            <button type="submit" class="button-side"><i class="fa-solid fa-trash"></i></button>
                        </form>
                     <% } %>
                </div>
                <hr width="100%" style="height: 1.5px; background: #AD4569; border: none; margin-bottom: 2vw">
                <% } %>
        </div>
    </div>
</body>
<style>
    body {
        height: auto;
        width: 100%;
    }
    .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .button-side {
        padding: 12px;
        font-size: 3.5vw;

        background: transparent;
        border: none;
        cursor: pointer;
        
        transition: all 500ms ease;
    }
    .comments-section {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        gap: 1vw;
        justify-content: center;
    }
    .button-side:hover {
        color: #AD4569;
    }
    .text-comment {
        width: fit-content;
        font-size: 2vw;
        margin: 0;
        font-weight: 600;
    }
    .post {
        height: 50%;
        width: 100%;
        display: flex;
    }
    .comments-section {
        width: 90%;
        align-self: center;
        margin-bottom: 2vw;
    }
    .section {
        /* margin-top: 10vh; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        height: auto;
        width: 40%;
        align-self: start;
        margin-left: 5%;
        margin-top: 2.5%;

        border: 2px solid #AD4569;
        padding: 24px;
    }
    .button {
        transition: all 1s ease;
        background: transparent;
        outline: none;
        border: 2px white solid;
        padding: 12px;
        cursor: pointer;
        font-size: 1.5vw;
        font-family: Outfit;
        border-radius: 15px;
        color: white;
    }
    .button:hover {
        border-color: #AD4569;
        color: #AD4569;
    }
    .comment-input {
        padding: 12px;
        outline: none;
        border: 2px white solid;
        border-radius: 15px;
        color: #AD4569;
        font-family: Outfit;
        font-size: 1.5vw;
        background: transparent;
        margin-right: 1vw;
        transition: all 1s ease;
        width: 25%;
        margin-bottom: 2vw;
    }
    .comment-input:focus {
        width: 45%;
        border: 2px solid #AD4569;
        border-radius: 15px;
        color: #AD4569;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        gap: 4vw;
    }
    .texts {
        margin: 0;
        font-size: 1.5vw;
        color: #AD4569;
    }
    .big {
        font-size: 3vw;
    }
    .comment {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .upper-text {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
        width: fit-content;
    }
    .creds {
        margin: 0;
        width: auto;
    }
    img {
        width: 25vw;
        margin-top: 2vw;
        object-fit: cover;
    }
</style>
</html>

<script>
    var demo_p = document.getElementById('demo_p')
    var currentText = demo_p.innerHTML
    var newText = currentText.replaceAll('&lt;br&gt;', '<br>')
    demo_p.innerHTML = newText
</script>