<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <p><b>Heading: </b><%= forum.heading %></p>
    <p><b>Text:</b> <%= forum.text %></p>
    <p><b>Replies:</b></p>
    <% for (let j = 0; j < forum.replies.length; j++) { %>
    <p><%= forum.replies[j].reply %>, <b>replied by </b><%= forum.replies[j].name %> <b>on</b> <%= forum.replies[j].date %></p>
    <% } %>
    <form action="/forums/reply/<%= forum.id %>" method="POST">
        <input type="text" name="reply" placeholder="Enter Reply:">
        <input type="submit">
    </form>
</body>
</html>